body {
    font-family:
        /* 中文 */
        "PingFang SC",
        "Hiragino Sans GB",
        "Microsoft YaHei",
        "Noto Sans CJK SC",
        "Source Han Sans SC",

        /* 兜底 */
        Arial,
        sans-serif;

    font-size: 16px;
}

h1, h2, h3, h4 {
    font-family:
        "Inter",
        "PingFang SC",
        "Microsoft YaHei",
        "Noto Sans CJK SC",
        sans-serif;

    font-weight: 600;
    line-height: 1.35;
}

p {
    letter-spacing: 1px !important;
    line-height: 2em !important;
}