[book]
title = "Tintin's Home"
authors = ["Tintin"]

[output.html]
mathjax-support = true
additional-css = ["css/style.css"]
additional-js = ["assets/fzf.umd.js", "assets/elasticlunr.js"]

[output.html.search]
limit-results = 20
use-boolean-and = true
boost-title = 2
boost-hierarchy = 2
boost-paragraph = 1
expand = true
heading-split-level = 2

[output.html.fold]
enable = true
level = 0